html {
    box-sizing: border-box;
}

*,
:before,
:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: #212121;
    color: #d0ffd0;
    font: 1.125rem Arial, Helvetica, sans-serif;
    line-height: 1.6;
    padding-bottom: 15em;
}

a {
    color: #fc0;
    text-decoration: none;
}

a:hover {
    color: #f60;
}

h1 {
    color: #fff;
    font-size: 1.51em;
    font-weight: normal;
    margin-bottom: 1em;
    text-align: center;
}

h2 {
    color: darkkhaki;
    font-size: 1em;
    margin: 1.5em 0;
}

h2.monthyyyy {
    font-weight: normal;
    margin: 1.5em 0 .5em;
}

h3 {
    font-size: 1em;
    margin: 1.5em 0 .5em;
}

img,
video {
    display: block;
    margin: auto;
    max-width: 100%;
}

video {
    width: 90%;
}

figure {
    clear: both;
    padding-top: 1.5em;
    max-width: 100%;
}

figure.left {
    float: left;
    padding: 1.5em 1.5em 1em 0;
}

figure.right {
    float: right;
    padding: 1.5em 0 1em 1.5em;
}

figcaption {
    color: #fff;
    font-size: .9rem;
    margin: auto;
    max-width: 75%;
    text-align: center;
}

figure.left img,
figure.right img {
    max-height: 20em;
    max-width: 20em;
}

.container {
    margin: auto;
    max-width: 42em;
    padding: 0 .3em;
}

nav {
    background-image: radial-gradient(darkslategray .5px, transparent .5px);
    background-size: 5px 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    padding: .5em 1em;
}

nav ul,
.pagination ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

nav li + li {
    margin-left: 1em;
}

nav svg {
    align-self: baseline;
    fill: #fc0;
    vertical-align: middle;
    width: 1em;
}

nav svg:hover {
    fill: #f60;
}

header {
    position: relative;
}

.logo {
    margin: 1em auto 2em;
    max-width: 12em;
}

.tiles {
    display: flex;
    justify-content: space-between;
}

.tile {
    flex: 0 0 48%;
}

.tile ul.elements {
    list-style-type: none;
    padding-left: 0;
}

.submenu {
    font-size: 1rem;
    list-style: none;
    margin: 0;
    padding: 0 .5em;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.submenu li {
    display: inline-block;
    padding: 0 .5em;
}

.submenu a {
    border-bottom: 1px solid #fc0;
    color: #d0ffd0;
}

.submenu a:hover {
    color: #fc0;
}

.rss-icon {
    fill: #d0ffd0;
    height: 1em;
    vertical-align: middle;
    width: 1em;
}

.rss-icon:hover {
    fill: #fc0;
}

.active {
    border-bottom: 2px solid #d0ffd0;
    padding-bottom: .5em;
}

main {
    padding: 2em .5em;
}

main p {
    margin-top: 1.5em;
    text-align: justify;
}

main.story p {
    margin-top: 0;
}

main p.source {
    font-size: .81rem;
    text-align: right;
}

main.text-indent > p::first-letter {
    padding-left: 1.67em;
}

main.drop-cap > p:first-of-type::first-letter {
    float: left;
    font-size: 3.11em;
    line-height: .6;
    margin-right: .17em;
    margin-top: .18em;
    padding-left: .5em;
}

blockquote {
    border-bottom: 1px solid #bdb76b;
    margin: 2.5em auto;
    max-width: 75%;
    padding-bottom: .5em;
    position: relative;
}

blockquote::before {
    background: #bdb76b;
    color: #212121;
    content: '“';
    font: 2.67em serif;
    line-height: 1;
    min-height: 100%;
    position: absolute;
}

blockquote::after {
    clear: both;
    content: "";
    display: table;
}

main blockquote p {
    padding: .5em 1em 0 2em;
}

main blockquote p:first-of-type::first-letter {
    float: none;
    font-size: 1em;
    line-height: 1;
    margin: 0;
    padding-left: 0;
}

blockquote img {
    border: 2px solid #f5f5f5;
    float: left;
    margin-right: 1em;
    width: 7em;
}

.quote-image {
    float: none;
    margin: 1em auto 0;
    width: 100%;
}

blockquote strong,
blockquote em {
    color: #bdb76b;
}

.elements .tag {
    background-color: #d0ffd0;
    border-radius: .1em;
    color: #111;
    padding: 0 .5em;
}

.elements .date {
    font-size: .81rem;
    margin-left: .5em;
}

.links {
    list-style-type: none;
    padding-left: 0;
}

.links .favicon {
    display: inline;
    margin-right: .5em;
    vertical-align: middle;
    width: 1em;
}

.meta {
    font-size: .81rem;
    margin-bottom: 1.5em;
    text-align: center;
}

.year {
    color: #fff;
}

ul,
ol {
    margin-top: 1em;
    padding-left: 2.2em;
}

ul.elements {
    margin-top: 0;
}

ol.fns {
    font-size: smaller;
}

ol.fns li:target {
    background: darkslategray;
}

hr {
    margin: 3em 0 1em;
}

hr.short {
    border-color: #d0ffd0;
    margin: 1.5em auto;
    max-width: 1em;
}

.gallery {
    column-width: 10em;
}

.gallery img {
    border: 3px solid #fff;
    margin-bottom: 1em;
}

.gallery img:hover {
    border-color: #fc0;
}

.gallery .video {
    display: block;
    position: relative;
}

.gallery svg {
    fill: #fff;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);   
}

.gallery .video:hover svg {
    fill: #fc0;
}

.pagination {
    margin-top: 2em;
    padding-left: 0;
    text-align: center;
}

.pagination li {
    display: inline-block;
}

.pagination li + li {
    margin-left: 1em;
}

[aria-current],
[aria-current]:hover {
    color: #d0ffd0;
}

.panel {
    margin: 1em 0;
    text-align: right;
}

@media (max-width: 600px) {
    .tiles {
        display: block;
    }

    figure.left,
    figure.right {
        float: none;
        padding: 1.5em 0 0;
    }

    figure img,
    figure.left img,
    figure.right img {
        max-width: 100%;
    }

    header h1 {
        text-align: left;
    }
}

@media (max-width: 450px) {
    figcaption,
    main blockquote {
        max-width: 100%;
    }

    nav {
        flex-direction: column;
        margin: 0 -.3em;
        padding: 1em;
    }

    nav ul + ul {
        margin-top: .5em;
    }

    nav ul {
        display: flex;
        justify-content: space-evenly;
    }

    .active {
        padding-bottom: 0;
    }

    .elements .date {
        display: none;
    }

    video {
        width: 100%;
    }
}
