---
layout: main.njk
title: sadir.de
eleventyExcludeFromCollections: true
---
<div class="tiles">
    <div class="tile">
        <h2>Letzten Posts</h2>
        <ul class="elements">
        {% set index = 1 %}
        {%- for post in collections.posts | reverse -%}
            {% if index <= 13 %}
            <li>
                {% if post.data.story %}
                    <span class="tag">Kurzgeschichte</span>
                {% endif %}
                <a href="{{ post.url }}">{{ post.data.title }}</a> <span class="date">{{ post.date | ddmm }}</span>    
            </li>
            {% set index = index + 1 %}
            {% endif %}
        {%- endfor -%}
        </ul>
        <div class="panel">
            <a href="/posts/">Alle Posts &raquo;</a>
        </div>
    </div>

    <div class="tile">
        <h2>Letzten Links</h2>
        <ul class="elements links">
        {% set index = 1 %}
        {%- for link in collections.links | reverse -%}
            {% if index <= 10 %}
            <li>
                <img class="favicon" alt="{{ link[1] }}" src="https://files.sadir.me/favicons/{{ link[0] | hostname }}.png"><a href="{{ link[0] }}">{{ link[1] }}</a>: {{ link[2] }}
            </li>
            {% set index = index + 1 %}
            {% endif %}
        {%- endfor -%}
        </ul>
        <div class="panel">
            <a href="/links/">Alle Links &raquo;</a>
        </div>
    </div>
</div>

<h2>Letzten Dateien</h2>
<div class="gallery">
{% set index = 1 %}
{%- for datei in collections.dateien | reverse -%}
    {% if index <= 10 %}
        {% set extension = datei[0].split(".")[1] %}
        {% set isVideo = extension == "mp4" or extension == "webm" %}
        <a href="https://files.sadir.me/{{ datei[0] }}"{% if isVideo %} class="video"{% endif %}>
            <img src="https://files.sadir.me/thumbs/{{ datei[1] }}" width="{{ datei[2] }}" height="{{ datei[3] }}" title="{{ (datei[0].split("_")[1] * 1000) | ddmmyyyy }}">
            {% if isVideo %}
                <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48H0z" fill="none"/><path d="M20 33l12-9-12-9v18zm4-29C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm0 36c-8.82 0-16-7.18-16-16S15.18 8 24 8s16 7.18 16 16-7.18 16-16 16z"/></svg>
            {% endif %}
        </a>
        {% set index = index + 1 %}
    {% endif %}
{%- endfor -%}
</div>
<div class="panel">
    <a href="/dateien/">Alle Dateien &raquo;</a>
</div>