---
layout: main.njk
title: Kontakt
---
<h1>{{ title }}</h1>
<p>Falls du eine Frage hast oder sonst eine Anmerkung, kannst du mich über E-Mail erreichen: <a href="mailto:sadir@pm.me">sadir@pm.me</a>. Wenn du eine sicherere Kommunikation bevorzugst, hier mein <a href="https://www.sadir.de/publickey.sadir@pm.me.asc">OpenPGP-Schlüssel</a>.</p>