<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if xml !== undefined %}
        <link rel="alternate" type="application/rss+xml" title="Diese Seite abonnieren..." href="{{ xml }}" />
    {% endif %}
    <title>{{ title }}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=1648730310">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=1648730310">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=1648730310">
    <link rel="manifest" href="/site.webmanifest?v=1648730310">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=1648730310" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=1648730310">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/main.min.css">
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li{% if page.url === "/" %} class="active"{% endif %}><a href="/">Home</a></li>
                <li{% if "/posts/" in page.url %} class="active"{% endif %}><a href="/posts/">Posts</a></li>
                <li{% if "/links/" in page.url %} class="active"{% endif %}><a href="/links/">Links</a></li>
                <li{% if "/dateien/" in page.url %} class="active"{% endif %}><a title="Dateien" href="/dateien/">
                    <svg width="18" height="18" style="enable-background:new 0 0 24 24;" version="1.1" viewBox="0 0 24 24" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path class="st0" d="M21,22H3c-1.7,0-3-1.3-3-3V4c0-1.1,0.9-2,2-2h17v2H2v15c0,0.6,0.4,1,1,1h18c0.6,0,1-0.4,1-1V8H6v10H4V8  c0-1.1,0.9-2,2-2h16c1.1,0,2,0.9,2,2v11C24,20.7,22.7,22,21,22z"/></svg>
                </a></li>
            </ul>
            <ul>
                <li{% if page.url === "/impressum/" %} class="active"{% endif %}><a href="/impressum/">Impressum</a></li>
                <li{% if page.url === "/kontakt/" %} class="active"{% endif %}><a href="/kontakt/">Kontakt</a></li>
            </ul>
        </nav>
        {% set textType = "" %}
        {% if dropCap %}
            {% set textType = "drop-cap " %}
        {% endif %}
        {% if textIndent %}
            {% set textType = textType + "text-indent " %}
        {% endif %}
        {% if story %}
            {% set textType = textType + "story" %}
        {% endif %}
        {% set textType = textType | trim %}
        <main{% if textType !== "" %} class="{{ textType }}"{% endif %}>
            {{ content | safe }}
        </main>
    </div>
</body>
</html>