---
layout: main.njk
xml: /posts/feed.xml
dropCap: true
textIndent: true
---
<h1><a href="{{ url }}">{{ title }}</a></h1>
<div class="meta">{{ date | ddmmyyyy }}</div>
{{ content | hyphenate | safe }}