---
layout: main.njk
xml: /posts/feed.xml
dropCap: true
textIndent: true
story: true
---
<h1><a href="{{ url }}">{{ title }}</a></h1>
<div class="meta year">{{ date.getFullYear() }}</div>
{{ content | hyphenate | safe }}