---
layout: main.njk
title: About
---
<h1>{{ title }}</h1>
<p class="no-drop-cap">Diese Seite dient als eine Art Lesezeichen-Liste für mich: Interessante Webseiten, Tools, Videos etc., die ich gefunden habe und festhalten wollte. Dabei muss ich nicht zwingend hinter allen Inhalten auf den Seiten stehen.</p>