---
layout: main.njk
title: Links
---
<header>
    <h1>{{ title }}</h1>
    <ul class="submenu">
        <li><a href="/links/about/">About</a></li>
    </ul>
</header>
{%- for month, links in collections.links | groupByMonth | reverse -%}
<h2 class="monthyyyy">{{ month }}</h2>
<ul class="elements links">
{%- for link in links | reverse  -%}
    <li>
        <img class="favicon" alt="{{ link[1] }}" src="https://files.sadir.me/favicons/{{ link[0] | hostname }}.png"><a href="{{ link[0] }}">{{ link[1] }}</a>: {{ link[2] }}
    </li>
{%- endfor -%}
</ul>
{%- endfor -%}
