---
layout: main.njk
title: Dateien
pagination:
    data: collections.dateien
    size: 25
    reverse: true
permalink: "dateien/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---
<h1>{{ title }}</h1>

<div class="gallery">
{%- for datei in pagination.items -%}
    {% set extension = datei[0].split(".")[1] %}
    {% set isVideo = extension == "mp4" or extension == "webm" %}
    <a href="https://files.sadir.me/{{ datei[0] }}"{% if isVideo  %} class="video"{% endif %}>
        <img src="https://files.sadir.me/thumbs/{{ datei[1] }}" width="{{ datei[2] }}" height="{{ datei[3] }}" title="{{ (datei[0].split("_")[1] * 1000) | ddmmyyyy }}">
        {% if isVideo %}
            <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h48v48H0z" fill="none"/><path d="M20 33l12-9-12-9v18zm4-29C12.95 4 4 12.95 4 24s8.95 20 20 20 20-8.95 20-20S35.05 4 24 4zm0 36c-8.82 0-16-7.18-16-16S15.18 8 24 8s16 7.18 16 16-7.18 16-16 16z"/></svg>
        {% endif %}
    </a>
{% endfor %}
</div>

<ol class="pagination" aria-labelledby="pagination">
    {% set currentPage = page.url %}
    {% if pagination.href.previous %}<li><a href="{{ pagination.href.previous }}">Zurück</a></li>{% endif %}
    {%- for page in pagination.pages %}
    <li>{% if currentPage != pagination.hrefs[ loop.index0 ] %}<a href="{{ pagination.hrefs[ loop.index0 ] }}">{{ loop.index }}</a>{% else %}<a aria-current="page">{{ loop.index }}</a>{% endif %}</li>
    {%- endfor -%}
    {% if pagination.href.next %}<li><a href="{{ pagination.href.next }}">Weiter</a></li>{% endif %}
</ol>