---
layout: main.njk
title: About
text-indent: true
---
<h1>{{ title }}</h1>
<p>Was ist das hier eigentlich, ein Blog? Nicht wirklich. Denn seit es Social Media gibt, sind Blogs keine persönlichen Webseiten mehr, in denen es um das eigene Leben und die eigenen Gedanken geht, sondern eher Onlinemagazine über gewisse Themen, denen Interessenten folgen können. Für mich ist es aber nur ein Platz, um Dinge festzuhalten, die mich in irgendeiner Weise beschäftigt haben. Den Titel "Posts" habe ich bewusst gewählt, da es das allgemeinste und wertungsfreiste Wort ist, das mir eingefallen ist – Posts können simple Einzeiler oder Bilder, bis zu langen Texten sein. Auch inhaltlich reicht es von Dingen, über die ich mir nur einige Gedanken gemacht habe, bis zu Dingen, die mich schon seit Jahren beschäftigen. Das ist also mehr ein Skizzenbuch, statt ein Gemälde.</p>