---
layout: main.njk
title: Alle Posts
xml: /posts/feed.xml
---
<header>
    <h1>{{ title }}</h1>
    <ul class="submenu">
        <li><a href="/posts/about/">About</a></li>
        <!--<li><a href="/posts/posts.pdf">PDF</a></li>-->
        <li><a href="/posts/feed.xml">
            <svg xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 1792 1792" width="20" class="rss-icon">
                <path d="M576 1344q0 80-56 136t-136 56-136-56-56-136 56-136 136-56 136 56 56 136zm512 123q2 28-17 48-18 21-47 21h-135q-25 0-43-16.5t-20-41.5q-22-229-184.5-391.5t-391.5-184.5q-25-2-41.5-20t-16.5-43v-135q0-29 21-47 17-17 43-17h5q160 13 306 80.5t259 181.5q114 113 181.5 259t80.5 306zm512 2q2 27-18 47-18 20-46 20h-143q-26 0-44.5-17.5t-19.5-42.5q-12-215-101-408.5t-231.5-336-336-231.5-408.5-102q-25-1-42.5-19.5t-17.5-43.5v-143q0-28 20-46 18-18 44-18h3q262 13 501.5 120t425.5 294q187 186 294 425.5t120 501.5z"/>
            </svg>
        </a></li>
    </ul>
</header>

{%- for month, posts in collections.posts | groupByMonth | reverse -%}
    <h2 class="monthyyyy">{{ month }}</h2>
    <ul class="elements">
    {%- for post in posts | reverse  -%}
        <li>
            {% if post.data.story %}
                <span class="tag">Kurzgeschichte</span>
            {% endif %}
            <a href="{{ post.url }}">{{ post.data.title }}</a> <span class="date">{{ post.date | ddmmyyyy }}</span>
        </li>
    {%- endfor -%}
    </ul>
{%- endfor -%}